// MENU
.client-type {
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  color: $app-base-blue !important;

  a {

    color: $app-base-gray !important;
    &.active {
      color: $app-base-blue !important;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  @media (max-width: $screen-sm) {
    .nav {
      li {
        float: left;
      }
    }
  }
}

//.menu {
//  height: 140px;
//  .navbar-fixed-top {
//    padding: 10px;
//  }
//  .navbar-header {
//    .navbar-brand {
//      margin-left: 0;
//    }
//  }
//}

#logo{
  margin-top: -14px;
}

.dropdown-parent {
  position: relative;

  .dropdown-ignore-parent{
    /*use another parent for width base*/
    position: static !important;
    @media (max-width: $screen-md) {
      position: relative;
    }

    .width-full-parent{
      left: 0;
      right: 0;
    }
  }
}

.menu {
  height: 140px;
  .navbar-fixed-top {
    padding: 10px;
  }
  .navbar-header {
    .navbar-brand {
      margin-left: 0;
    }
  }
}


// Navigation
#common-menu {
  padding-top: 15px;
  color: $app-brand-red;
  font-weight: 700;
}

#location{
    ul{
      width: 200px;
      padding: 10px;
    }
}

.btn-red-branded{
  @include button-variant($btn-primary-color, $app-brand-red, darken($app-brand-red, 5%));
}

#favorite{
    a, p, li {
        color: #000000;
    }
}

@media (max-width: $screen-sm) {
  #common-menu {
    padding-top: 0;
  }
}

.greeting {
  color: $app-base-blue !important;
}

.navbar-mainmenu {
  margin: 0;
  .mainmenu-item {
    border-right: 1px solid darken($brand-success, 6%);
    box-shadow: inset -1px 0 0 lighten($brand-success, 6%);
    &:first-child {
      border-left: 1px solid darken($brand-success, 6%);
      box-shadow: inset 1px 0 0 lighten($brand-success, 6%), inset -1px 0 0 lighten($brand-success, 6%);
    }
    @media (max-width: $screen-sm-min) {
      &:first-child {
        border-left: none;
        box-shadow: inset -1px 0 0 lighten($brand-success, 6%);
      }
      &:last-child {
        border-right: none;
        box-shadow: none;
      }
    }
    &.open {
      background: $gray-lighter;
    }
  }

  //Screen Sm devices
  @media (max-width: $screen-md-min) {
    margin-top: 45px;
  }

  @media (max-width: $screen-sm-min) {
    margin-top: 67px;
  }
}
